<div align="center" class="row">
	<div  class="col-lg-4">
		<h4>Ventas Diarias</h4>
		<p >{{dataTodaySales | number:2 }}</p>
	</div>
	<div  class="col-lg-4">
		<h4>Facturas Identificadas</h4>
		<p >{{dataTodayIdsales }}</p>
	</div>
	<div  class="col-lg-4">
		<h4>Facturas no Identificadas</h4>
		<p >{{dataTodayNidsales  }}</p>
	</div>
</div>
	<div align="center"  class="row">
    <div class="col-lg-4">
    	<h4>Usuarios Nuevos</h4>
		<p>{{dataTodaydailyNew}}</p>
    </div>
	<div class="col-lg-4">
		<h4>Usuarios Recurrentes</h4>

		<p>{{ dataTodaydailyRecurrence  }}</p>

	</div>
	<div class="col-lg-4">
		<h4>Recurrencias Adicionales</h4>
		<p>{{dataTodaydailyRecuNew}}</p>
	</div>
</div>


