<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title" align="center"> {{graphTitle}}  </h5>

<div ng-switch on="btnCal">
<div ng-switch-when="Diario">
<form class="form-inline"  align="center" role="form" ng-submit="refresh()" >
  
      
      <div class="form-group">
        
        <button type="button" ng-click="switch()" class="btn btn-info" ><span class="glyphicon glyphicon-calendar"></span> {{btnCal}} </button>

      
        <div class="form-group" class="col-xs-3">
          <input type="text" class="form-control" ng-model="date.from"  data-max-date="{{date.until}}" data-min-view=0  placeholder="Desde" bs-datepicker>
        </div>

        <div class="form-group" class="col-xs-3">
          <input type="text" class="form-control" ng-model="date.until"  data-min-date="{{date.from}}" data-min-view=0 placeholder="Hasta" data-max-date="today"  bs-datepicker>
        </div>
        <div class="form-group" class="col-xs-3">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span> Actualizar</button>
        <button type="button" ng-click="delete()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Borrar</button>
         </div>
      </div>


    </form>
</div>
<div ng-switch-when="Mensual">
    <form class="form-inline"  align="center" role="form" ng-submit="refresh()" >
  
      
      <div class="form-group">
        
        <button type="button" ng-click="switch()"class="btn btn-info" ><span class="glyphicon glyphicon-calendar"></span> {{btnCal}} </button>

      
        <div class="form-group" class="col-xs-3">
          <input type="text" class="form-control" ng-model="date.from"  data-max-date="{{date.until}}" data-min-view=1  placeholder="Desde" bs-datepicker>
        </div>

        <div class="form-group" class="col-xs-3">
          <input type="text" class="form-control" ng-model="date.until"  data-min-date="{{date.from}}" data-min-view=1 placeholder="Hasta" data-max-date="today" bs-datepicker>
        </div>
        <div class="form-group" class="col-xs-3">
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span> Actualizar</button>
        <button type="button" ng-click="delete()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Borrar</button>

         </div>
      </div>

      
    </form>
</div>
</div>
     </div>

      <div class="panel-body" >

        <div  ng-transclude>        </div>

    
       
 </div>

</div>