    
<div class="jumbotron">
	
	<h1>¡Bienvenido!</h1>

	<form name="loginForm" class="form-signin" role="form" ng-submit="submit()" ng-controller="LoginCtrl">
		
		<input type="text" class="form-control" name="email" ng-model="email" placeholder="Correo Electrónico" required, autofocus>
		<input type="password" class="form-control" name="password" ng-model="password" placeholder="Contraseña" required>
	</br>
		<!-- <label class="checkbox">
			<input type="checkbox" value="remember-me">
			Recuerdame 
 		</label> -->
	
		<button type="submit" class="btn btn-lg btn-primary btn-block">Ingresar</button>
	</form>
	
	
</div>


