


<div  ng-cotroller="Mainctrl">

    <ltx-daily > </ltx-daily>

 <ltx-graph 
    graph-title="Ventas Diarias"
    graph="sales"
    data="data.sales"
    type="type.sales"
    >

    <div  ng-switch on="type.sales">
<div class="graph" ng-switch-when="daily"> 

        <nvd3-multi-bar-chart

         data="data.sales"
         id="ivs1"
         xAxisTickFormat="xAxisTickFormat()"
         yAxisTickFormat="y1AxisTickFormat()"
         showXAxis="true"
         showYAxis="true"
         interactive="true"
         tooltips="true"
         tooltipcontent="toolTipContentSalesFunction()"
         reduceXTicks="true"
         staggerLabels="true"
         margin={left:100,top:50,bottom:50,right:50}
         objectEquality="true"
         ><svg ></svg>
       </nvd3-multi-bar-chart>
</div>
<div class="graph" ng-switch-when="monthly"> 
    <nvd3-multi-bar-chart

         data="data.sales"
         id="ivs2"
         xAxisTickFormat="xAxisTickMonthlyFormat()"
         yAxisTickFormat="y1AxisTickFormat()"
         showXAxis="true"
         showYAxis="true"
         interactive="true"
         tooltips="true"
         tooltipcontent="toolTipContentSalesFunction()"
         reduceXTicks="true"
         staggerLabels="true"
         margin={left:100,top:50,bottom:50,right:50}
         objectEquality="true"
         ><svg ></svg>
       </nvd3-multi-bar-chart>
</div>
</div>
</ltx-graph>

 <ltx-graph 
    graph-title="Recurrencia de Usuarios"
    graph="recurrences"
    data="data.recurrences"
    type="type.recurrences"
    >

    <div  ng-switch on="type.recurrences">
<div class="graph" ng-switch-when="daily"> 

        <nvd3-multi-bar-chart

         data="data.recurrences"
         id="nvr1"
         xAxisTickFormat="xAxisTickFormat()"
         yAxisTickFormat="y2AxisTickFormat()"
         showXAxis="true"
         showYAxis="true"
         interactive="true"
         tooltips="true"
         tooltipcontent="toolTipContentNvRFunction()"
         reduceXTicks="true"
         staggerLabels="true"
         margin={left:100,top:50,bottom:50,right:50}
         objectEquality="true"
         stacked="true"
         showLegend="true"
         ><svg ></svg>
       </nvd3-multi-bar-chart>
</div>
<div class="graph" ng-switch-when="monthly"> 
    <nvd3-multi-bar-chart

         data="data.recurrences"
         id="nvr2"
         xAxisTickFormat="xAxisTickMonthlyFormat()"
         yAxisTickFormat="y2AxisTickFormat()"
         showXAxis="true"
         showYAxis="true"
         interactive="true"
         tooltips="true"
         tooltipcontent="toolTipContentNvRFunction()"
         reduceXTicks="true"
         staggerLabels="true"
         margin={left:100,top:50,bottom:50,right:50}
         objectEquality="true"
         stacked="true"
         showLegend="true"
         ><svg ></svg>
       </nvd3-multi-bar-chart>
</div>
</div>
</ltx-graph>




<ltx-graph 
    graph-title="Promedio de ventas por hora"
    graph="averageSalesHour"
    data="data.averagePerHour"
    type="type.averagePerHour"
    >

 
<div class="graph" > 

        <nvd3-multi-bar-chart
         data="data.averagePerHour"
         id="avgsales"
         tooltipcontent="toolTipContentAvgFunction()"
         yAxisTickFormat="y1AxisTickFormat()"
         showXAxis="true"
         showYAxis="true"
         margin={left:100,top:200,bottom:50,right:50}
         tooltips="true"        
         showLegend="true"
          y="yFunctionAvg()"
          objectEquality="true"
       
         ><svg ></svg>
        </nvd3-multi-bar-chart>
</div>
</ltx-graph>



<ltx-graph 
    graph-title="Ventas identificadas vs No identificadas"
    graph="idNid"
    data="data.idNid"
    type="type.idNid"
    >

    <div  ng-switch on="type.recurrences">
<div class="graph" ng-switch-when="daily"> 

        <nvd3-multi-bar-chart

        data="data.idNid"
        id="idvsnid"
        xAxisTickFormat="xAxisTickFormat()"
        yAxisTickFormat="y2AxisTickFormat()"
tooltipcontent="toolTipContentIdvNidFunction()"
        interactive="true"
        tooltips="true"
        showlegend="true"
        showXAxis="true"
        showYAxis="true"
        reduceXTicks="true"
        stacked="true"
        objectEquality="true"
         
        
       margin={left:100,top:200,bottom:50,right:50}>
        <svg></svg>
    </nvd3-multi-bar-chart>
</div>
<div class="graph" ng-switch-when="monthly"> 
    <nvd3-multi-bar-chart

        data="data.idNid"
        id="idvsnid2"
        xAxisTickFormat="xAxisTickFormat()"
        yAxisTickFormat="xAxisTickMonthlyFormat()"
tooltipcontent="toolTipContentIdvNidFunction()"
        interactive="true"
        tooltips="true"
        showlegend="true"
        showXAxis="true"
        showYAxis="true"
        reduceXTicks="true"
        stacked="true"
        objectEquality="true"
         
        
       margin={left:100,top:200,bottom:50,right:50}>
        <svg></svg>
    </nvd3-multi-bar-chart>
</div>
</div>
</ltx-graph>

<!--


<div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title" align="center">  Ventas Mensuales vs Cantidad de Facturas.  </h5>
  </div>
  <div class="panel-body">

    <div class="graph">

        <nvd3-line-plus-bar-chart

        data="dataSvI_M"
        id="SvI_M"
        xAxisTickFormat="xAxisTickMonthlyFormat()"
        y1AxisTickFormat="y1AxisTickFormat()"
     y2AxisTickFormat="y2AxisTickFormat()"

        interactive="true"
        tooltips="true"
        showlegend="true"
        showXAxis="true"
        showYAxis="true"
   tooltipcontent="toolTipContentSalesFunction()"
        
        margin={left:100,top:200,bottom:50,right:50}>
        <svg></svg>
    </nvd3-line-plus-bar-chart>

</div>


</div>

</div>




<div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title" align="center"> Facturas identificadas vs Facturas no identificadas. (Histórico)</h5>
  </div>
  <div class="panel-body">

    <div class="graph">

        <nvd3-pie-chart
        data="dataIdvnidTotal"
        id="IdvnidTotal"
        x="xFunction()"
        y="yFunction()"

        tooltipcontent="toolTipFactFunction()"
        color="colorFunction()"
        showLabels="true"
        pieLabelsOutside="false"
        showValues="false"
        showLegend="true"
        tooltips="true"
        labelType="percent"
        labelThreshold="0.5"
        margin={left:100,top:200,bottom:50,right:50}>
        <svg></svg>
    </nvd3-pie-chart>


</div>
</div>
</div>
-->
</div>