

    <div  ng-cotroller="RecurrenceCtrl">

<div class="alert alert-warning" align="center">
      Los información en esta página se basa en las <strong> Facturas Identificadas ({{data.resume.percent}}%)</strong>  
    </div>

<div  class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title" align="center"> Usuarios clasificados por Cantidad de Visitas</h5>
    </div>
    <div id="no-graph" class="panel-body"  >

		<ul id="ListUsr" class="list-group">
      	<li class="list-group-item">
       		 <span class="badge">Cantidad de Usuarios</span>
        	Número de Visitas
     	 </li>
      	<li class="list-group-item" ng-repeat="data in data.resume.data">
       		 <span class="badge">{{ data[2] | number:2  }}%</span>
             <span class="badge">{{data[1]}}</span>

        	{{data[0]}}
     	 </li>
      
    	</ul>

 	</div>

</div>

<ltx-graph 
    graph-title="Tiempo Promedio entre Visitas"
    graph="distanceVisit"
    data="data.distanceVisit"
    type="type.distanceVisit"
    >

<h6 align="center"> Promedio general {{data.distanceVisit.avg|  number:2}}  días</h6>
 
<div class="graph" > 
 <nvd3-line-chart

         data="data.distanceVisit.data"
         id="avgdisst"
         forceX="[0]"
         showXAxis="true"
         showYAxis="true"
         interactive="true"
         tooltips="true"
         yAxisTickFormat="IntAxisTickFormat()"
         objectEquality="true"
         staggerLabels="true"
        tooltipcontent="toolTipContentAvgFunction()"
          

         margin={left:100,top:5,bottom:50,right:50}
         ><svg ></svg></nvd3-line-chart>
 
</div>
</ltx-graph> 


<ltx-graph 
    graph-title="Visitas Nuevas vs Visitas Recurrentes"
    graph="visitNewRecu"
    data="data.visitNewRecu"
    type="type.visitNewRecu"
    >

    <div  ng-switch on="type.visitNewRecu">

<div class="graph" ng-switch-when="monthly"> 
   <nvd3-multi-bar-chart

         data="data.visitNewRecu"
         id="NvRMonthly1"
         xAxisTickFormat="xAxisTickMonthlyFormat()"
         yAxisTickFormat="y2AxisTickFormat()"
         showXAxis="true"
         showYAxis="true"
         interactive="true"
         tooltips="true"
         tooltipcontent="toolTipContentNvRFunction()"
         reduceXTicks="true"
         staggerLabels="true"
         objectEquality="true"
         showLegend="true"
         

         margin={left:100,top:200,bottom:50,right:50}
         ><svg ></svg></nvd3-multi-bar-chart>
</div>
        
<div class="graph" ng-switch-when="daily"> 

      <nvd3-multi-bar-chart

         data="data.visitNewRecu"
         id="NvRMonthly2"
         xAxisTickFormat="xAxisTickFormat()"
         yAxisTickFormat="y2AxisTickFormat()"
         showXAxis="true"
         showYAxis="true"
         interactive="true"
         tooltips="true"
         tooltipcontent="toolTipContentNvRFunction()"
         reduceXTicks="true"
         staggerLabels="true"
        objectEquality="true"
         showLegend="true"
         

         margin={left:100,top:200,bottom:50,right:50}
         ><svg ></svg></nvd3-multi-bar-chart>
</div>


</div>

</ltx-graph>

<ltx-graph 
    graph-title="Ingresos por Visitas Nuevas vs Ingresos por  Visitas Recurrentes"
    graph="revenueNewRecu"
    data="data.revenueNewRecu"
    type="type.revenueNewRecu"
    >

    <div  ng-switch on="type.revenueNewRecu">

<div class="graph" ng-switch-when="monthly"> 
   <nvd3-multi-bar-chart

         data="data.revenueNewRecu"
         id="ReveNvRMonthly1"
         xAxisTickFormat="xAxisTickMonthlyFormat()"
         yAxisTickFormat="y1AxisTickFormat()"
         showXAxis="true"
         showYAxis="true"
         interactive="true"
         tooltips="true"
         tooltipcontent="toolTipContentRevenueNvRFunction()"
         reduceXTicks="true"
         staggerLabels="true"
         objectEquality="true"
         showLegend="true"
         

         margin={left:100,top:200,bottom:50,right:50}
         ><svg ></svg></nvd3-multi-bar-chart>
</div>
        
<div class="graph" ng-switch-when="daily"> 

      <nvd3-multi-bar-chart

         data="data.revenueNewRecu"
         id="ReveNvRMonthly2"
         xAxisTickFormat="xAxisTickFormat()"
         yAxisTickFormat="y1AxisTickFormat()"
         showXAxis="true"
         showYAxis="true"
         interactive="true"
         tooltips="true"
         tooltipcontent="toolTipContentRevenueNvRFunction()"
         reduceXTicks="true"
         staggerLabels="true"
        objectEquality="true"
         showLegend="true"
         

         margin={left:100,top:200,bottom:50,right:50}
         ><svg ></svg></nvd3-multi-bar-chart>
</div>


</div>

</ltx-graph>







</div>


